.challenge {
    background-color: $bg-colorg;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: $gray_dark;
    letter-spacing: 0.1em;
    text-align: center;
    justify-content: center;
    align-items: center;



    h2 {
        width: 100%;
        text-align: center;
        font-size: 1.5em;
        padding: 1em 0;
        
        @include  desktop {
            padding: 3.5em 0;
            font-size: 2em;
        }
    }

    .challenge__github {
        background-color: $plain_white;
        width: 90%;
        display: flex;
        flex-direction: row;
        padding: 2em 0;
        border-radius: 5px;
        box-shadow: 0px 1px 5px #c8ced6;
        margin-bottom: 3em;
        align-items: center;

        @include  desktop {
            margin-bottom: 6em;
            width: 70%;
            max-width: 42em;
        }
        @include  tablet {
            width: 70%;
            max-width: 35em;
        }
     
        .challenge__github--left {
            width: 15em;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 0.8em;
            font-weight: 700;
            letter-spacing: 0.05em;
            height: 100%;

            .profile-pic {
                width: 7em;
                height: 7em;
                border-radius: 100%;
                margin-bottom: 1em;

                @include  desktop {
                    width: 10em;
                    height: 10em;
                }
            }
        }
        .challenge__github--right {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: left;
            padding-left: 1.7em;
            padding-top: 1.15em;
            height: 100%;

            .main-text {
                font-size: 0.8em;
                font-weight: 700;
                letter-spacing: 0.05em;
                padding-bottom: 1em;
            }

            .btns {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                padding: 1em 1em 0 0;
                
                @include  desktop {
                    padding: 1em 2em 0 0;
                }    
                button {
                    align-items: center;
                    font-size: 0.6em;
                    min-width: 11em;
                    height: 3.5em;
                    margin-right: 0.5em;
                    font-weight: 700;
                    letter-spacing: 0.05em;
                    color: $btn-colorg;
                    border: solid $btn-colorg 2px;
                    border-radius: 2px;

                    @include  desktop {
                        font-size: 0.8em;
                        width: 15em;
                        height: 3em;
                        margin-right: 1em;
                    }

                    @include  tablet {
                        width: 15em;
                        height: 3em;
                    }

                    &:hover {
                        background-color: $btn-colorg;
                        color:$plain_white;
                        box-shadow: 2px 7px 5px #c8ced6;
                    }
                }
            }
        }
    }
}