$primary_ultradark: #210080;
$primary_dark: #1c307f;
$primary_medium: #2540aa;
$primary_main: #2e50d4;
$primary_light: #8296e5;

$secondary_main: #ff6746;
$secondary_light: #ffb3a3;

$gray_dark: #3b3a3a;
$gray_medium: #999392;
$gray_main: #cac4c3;
$gray_light: #dfd8e4;

$gray1: #6f6f6f;
$gray2: #a4a4a4;
$gray3: #e0e0e0;

$negativeColor: #ff4501;
$linkColor: #0a6cff;

$green_main: #00b833;
$app_background: #fffffb;

$plain_white: #ffffff;

$headerHeight: calc(32px + 12px * 2);

$app_on: #23b69d;
$description_text: #9a979b;