.home {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(/img/bg-img.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/img/bg-img.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

.home .home__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 15em;
  padding: 3em 1.5em;
  font-size: 0.9em;
}

.home .home__header .home__header--left h3 {
  font-weight: 200;
  letter-spacing: 0.1em;
}

.home .home__header .home__header--right {
  text-align: right;
}

.home .home__header .home__header--right .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.home .home__header .home__header--right .menu ul li:hover {
  color: #ffff60;
}

@media screen and (min-width: 801px) {
  .home .home__header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .home .home__header .home__header--left {
    width: 70%;
  }
  .home .home__header .home__header--right {
    width: 30%;
    text-align: right;
  }
}

@media screen and (max-width: 800px) {
  .home .home__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1em 1.5em;
  }
  .home .home__header .home__header--left {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
  }
  .home .home__header .home__header--right {
    width: 100%;
  }
}

.home .home__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 10em 0;
}

.home .home__title h1 {
  font-size: 2em;
  letter-spacing: 0.1em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

@media screen and (min-width: 801px) {
  .home .home__title h1 {
    font-size: 3.2em;
  }
}

.home .home__title h3 {
  font-size: 0.8em;
  letter-spacing: 0.08em;
}

@media screen and (min-width: 801px) {
  .home .home__title h3 {
    font-size: 2em;
  }
}

.home .home__title h3 a:hover {
  color: #ffff60;
}

.home .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1em;
}

.home .social img {
  width: 2.5em;
  -webkit-filter: opacity(50%) invert(100%);
          filter: opacity(50%) invert(100%);
  padding-bottom: 1em;
}

.home .social img:hover {
  -webkit-filter: invert(84%) sepia(88%) saturate(576%) hue-rotate(359deg) brightness(113%) contrast(107%);
          filter: invert(84%) sepia(88%) saturate(576%) hue-rotate(359deg) brightness(113%) contrast(107%);
  -webkit-box-shadow: 10px 5px 20px 5px rgba(252, 196, 81, 0.23);
          box-shadow: 10px 5px 20px 5px rgba(252, 196, 81, 0.23);
}

.home .social :nth-child(2) {
  margin: 0 2em;
}

button {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #3b3a3a;
  letter-spacing: 0.1em;
  padding: 0 1em;
}

@media screen and (min-width: 801px) {
  .about {
    padding: 0 9em;
  }
}

.about h2 {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  padding: 1em 0;
}

@media screen and (min-width: 801px) {
  .about h2 {
    padding: 3.5em 0;
    font-size: 2em;
  }
}

.about .about__text {
  width: 100%;
  font-size: 0.8em;
  padding-bottom: 1.5em;
  line-height: 1.5em;
}

@media screen and (min-width: 801px) {
  .about .about__text {
    font-size: 1em;
    padding-bottom: 2em;
  }
}

.challenge {
  background-color: #ebf6ee;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #3b3a3a;
  letter-spacing: 0.1em;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.challenge h2 {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  padding: 1em 0;
}

@media screen and (min-width: 801px) {
  .challenge h2 {
    padding: 3.5em 0;
    font-size: 2em;
  }
}

.challenge .challenge__github {
  background-color: #ffffff;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2em 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 5px #c8ced6;
          box-shadow: 0px 1px 5px #c8ced6;
  margin-bottom: 3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 801px) {
  .challenge .challenge__github {
    margin-bottom: 6em;
    width: 70%;
    max-width: 42em;
  }
}

@media screen and (min-width: 460px) and (max-width: 800px) {
  .challenge .challenge__github {
    width: 70%;
    max-width: 35em;
  }
}

.challenge .challenge__github .challenge__github--left {
  width: 15em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 0.05em;
  height: 100%;
}

.challenge .challenge__github .challenge__github--left .profile-pic {
  width: 7em;
  height: 7em;
  border-radius: 100%;
  margin-bottom: 1em;
}

@media screen and (min-width: 801px) {
  .challenge .challenge__github .challenge__github--left .profile-pic {
    width: 10em;
    height: 10em;
  }
}

.challenge .challenge__github .challenge__github--right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  padding-left: 1.7em;
  padding-top: 1.15em;
  height: 100%;
}

.challenge .challenge__github .challenge__github--right .main-text {
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding-bottom: 1em;
}

.challenge .challenge__github .challenge__github--right .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1em 1em 0 0;
}

@media screen and (min-width: 801px) {
  .challenge .challenge__github .challenge__github--right .btns {
    padding: 1em 2em 0 0;
  }
}

.challenge .challenge__github .challenge__github--right .btns button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.6em;
  min-width: 11em;
  height: 3.5em;
  margin-right: 0.5em;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #a5d1b1;
  border: solid #a5d1b1 2px;
  border-radius: 2px;
}

@media screen and (min-width: 801px) {
  .challenge .challenge__github .challenge__github--right .btns button {
    font-size: 0.8em;
    width: 15em;
    height: 3em;
    margin-right: 1em;
  }
}

@media screen and (min-width: 460px) and (max-width: 800px) {
  .challenge .challenge__github .challenge__github--right .btns button {
    width: 15em;
    height: 3em;
  }
}

.challenge .challenge__github .challenge__github--right .btns button:hover {
  background-color: #a5d1b1;
  color: #ffffff;
  -webkit-box-shadow: 2px 7px 5px #c8ced6;
          box-shadow: 2px 7px 5px #c8ced6;
}

footer {
  background-color: #3b3a3a;
  color: #ffffff;
  text-align: center;
}

footer .text {
  padding: 1.5em 0;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  font-weight: 300;
}

@media screen and (min-width: 801px) {
  footer .text {
    padding: 2.5em 0;
    font-size: 1.2em;
  }
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.mainContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
}

.pageTitle {
  line-height: 24px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 20px;
}

.textOverflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: inline-block;
}
/*# sourceMappingURL=global.css.map */